.register-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.register.form-container{
    width: 550px;
    padding: 48px;
    box-shadow: 0px 0px 21px rgb(0, 0, 0 /20%);
    background: #fff;
}

.form-label{
    width: 100%;
}

.form-control{
    height: 40px;
    display: block;
    padding: 6px 12px;
}
.error-feedback{
    color: red;
    padding: 8px;
}
.submit-btn{
    height: 40px;
    width: 120px;
    cursor: pointer;
}